environment: ovh
phase: dev

minio:
  global:
    imageRegistry: public.erc.aws
    security:
      allowInsecureImages: true
  fullnameOverride: "minio"
  enabled: true
  defaultBuckets: "app,logs,database"
  auth:
    existingSecret: minio-root
  ingress:
    enabled: true
    hostname: minio-siaf.sdid-app.cpin.numerique-interieur.com
  apiIngress:
    enabled: true
    hostname: api-minio-siaf.sdid-app.cpin.numerique-interieur.com
  provisioning:
    podSecurityContext:
      enabled: false
    containerSecurityContext:
      enabled: false
  volumePermissions:
    containerSecurityContext:
      runAsUser: "auto"
  containerSecurityContext:
    enabled: false
  podSecurityContext:
    enabled: false
  persistence:
    enabled: true
    size: 30Gi
  resources:
    requests:
      cpu: 512m
      memory: 512Mi
    limits:
      cpu: 1
      memory: 1024Mi
