environment: ovh
phase: dev

minio:
  image:
    repository: bitnamilegacy/minio
  global:
    #imageRegistry: public.ecr.aws
    security:
      allowInsecureImages: true
  fullnameOverride: "minio"
  enabled: true
  defaultBuckets: "app,logs,database"
  auth:
    existingSecret: minio-root
  console:
    image:
      repository: bitnamilegacy/minio-object-browser
    ingress:
      enabled: true
      hostname: minio-siaf.sdid-app.cpin.numerique-interieur.com
      tls: true
  ingress:
    enabled: true
    hostname: api-minio-siaf.sdid-app.cpin.numerique-interieur.com
    tls: true
  provisioning:
    podSecurityContext:
      enabled: false
    containerSecurityContext:
      enabled: false
  volumePermissions:
    containerSecurityContext:
      runAsUser: "auto"
  containerSecurityContext:
    enabled: false
  podSecurityContext:
    enabled: false
  persistence:
    enabled: true
    size: 30Gi
  resources:
    requests:
      cpu: 512m
      memory: 512Mi
    limits:
      cpu: 1
      memory: 1024Mi